# Lesson 3
* Indexes
* Joins
* Concatenations
# Setup

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

# Data
## Indexes

In [3]:
# Indexes are the margin names of rows and columns
df1 = pd.DataFrame([
    {'Name': 'Walter', 'Surname': 'White'},
    {'Name': 'Hank', 'Surname': 'Schrader'},
    {'Name': 'Jesse', 'Surname': 'Pinkman'},
    {'Name': 'Saul', 'Surname': 'Goodman'}
])
df1

     Name   Surname
0  Walter     White
1    Hank  Schrader
2   Jesse   Pinkman
3    Saul   Goodman