# Lesson 3
* Indexes
* Joins
* Concatenations
# Setup

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

# Data
## Indexes

In [3]:
# Indexes are the margin names of rows and columns
df1 = pd.DataFrame([
    {'Name': 'Walter', 'Surname': 'White'},
    {'Name': 'Hank', 'Surname': 'Schrader'},
    {'Name': 'Jesse', 'Surname': 'Pinkman'},
    {'Name': 'Saul', 'Surname': 'Goodman'}
])
df1

     Name   Surname
0  Walter     White
1    Hank  Schrader
2   Jesse   Pinkman
3    Saul   Goodman

### Set

In [4]:
# We can set the index
df1.set_index('Name')

         Surname
Name
Walter     White
Hank    Schrader
Jesse    Pinkman
Saul     Goodman

In [5]:
# We can make multi-indexes
df1.set_index(['Name', 'Surname'])

Empty DataFrame
Columns: []
Index: [(Walter, White), (Hank, Schrader), (Jesse, Pinkman), (Saul, Goodman)]

### Reset

In [6]:
df1.reset_index()

   index    Name   Surname
0      0  Walter     White
1      1    Hank  Schrader
2      2   Jesse   Pinkman
3      3    Saul   Goodman

In [7]:
df1.reset_index(drop=True)

     Name   Surname
0  Walter     White
1    Hank  Schrader
2   Jesse   Pinkman
3    Saul   Goodman

## Join
* Construct two data frames
* Join & Concat

In [8]:
df1 = pd.DataFrame([
    {'Name': 'Walter'},
    {'Name': 'Hank'},
    {'Name': 'Jesse'},
    {'Name': 'Saul'}
])
df1

     Name
0  Walter
1    Hank
2   Jesse
3    Saul

In [9]:
df2 = pd.DataFrame([
    {'Surname': 'White'},
    {'Surname': 'Schrader'},
    {'Surname': 'Pinkman'},
    {'Surname': 'Goodman'}
])
df2

    Surname
0     White
1  Schrader
2   Pinkman
3   Goodman

### Join
* Match up rows and put frames together

In [10]:
# Use the data frame to join to another
# Join uses the index
df1.join(df2)

     Name   Surname
0  Walter     White
1    Hank  Schrader
2   Jesse   Pinkman
3    Saul   Goodman

### Index vs Column

In [11]:
df1 = pd.DataFrame([
    {'Name': 'Walter', 'Surname': 'White', 'Job': 'Entrepreneur'},
    {'Name': 'Hank', 'Surname': 'Schrader', 'Job': 'Law Enforcement'},
    {'Name': 'Jesse', 'Surname': 'Pinkman', 'Job': 'Entrepreneur'},
    {'Name': 'Saul', 'Surname': 'Goodman', 'Job': 'Lawyer'}
])
df1

     Name   Surname              Job
0  Walter     White     Entrepreneur
1    Hank  Schrader  Law Enforcement
2   Jesse   Pinkman     Entrepreneur
3    Saul   Goodman           Lawyer

In [12]:
df2 = pd.DataFrame([
    {'Job': 'Entrepreneur',     'Pay': 1_000_000},
    {'Job': 'Law Enforcement',  'Pay': 75_000},
    {'Job': 'Lawyer',           'Pay': 250_000},
    {'Job': 'Teacher',          'Pay': 50_000}
])
df2

               Job      Pay
0     Entrepreneur  1000000
1  Law Enforcement    75000
2           Lawyer   250000
3          Teacher    50000

In [13]:
# Cant join - there's a column the same
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['Job'], dtype='object')

In [ ]:
# Join the Job column in the first frame to the index in the second
df1.join(df2.set_index('Job'), on=['Job'])

## Inner, Left, Right, Outer

In [15]:
# If we flip this around (from jobs -> people)
# We can see the default join tyle, left
df2.set_index('Job').join(df1.set_index('Job'))

                     Pay    Name   Surname
Job
Entrepreneur     1000000  Walter     White
Entrepreneur     1000000   Jesse   Pinkman
Law Enforcement    75000    Hank  Schrader
Lawyer            250000    Saul   Goodman
Teacher            50000     NaN       NaN

In [16]:
# We can control the join using the how attribute
# Supports left, right, inner, outer
# Here we're showing an inner join
df2.set_index('Job').join(df1.set_index('Job'), how='inner')

                     Pay    Name   Surname
Job
Entrepreneur     1000000  Walter     White
Entrepreneur     1000000   Jesse   Pinkman
Law Enforcement    75000    Hank  Schrader
Lawyer            250000    Saul   Goodman

# Suffixes
* Sometimes, our join, results in common column names
* We could replace the existing names of columns
* But it could be helpful to suffix all common codes

In [17]:
df1 = pd.DataFrame([
  {'Name': 'Walter', 'Surname': 'White',    'Job': 'Entrepreneur',    'Pay': 1_500_000},
  {'Name': 'Hank',   'Surname': 'Schrader', 'Job': 'Law Enforcement', 'Pay': 100_000},
  {'Name': 'Jesse',  'Surname': 'Pinkman',  'Job': 'Entrepreneur',    'Pay': 1_500_000},
  {'Name': 'Saul',   'Surname': 'Goodman',  'Job': 'Lawyer',          'Pay': 500_000},
])
df1

     Name   Surname              Job      Pay
0  Walter     White     Entrepreneur  1500000
1    Hank  Schrader  Law Enforcement   100000
2   Jesse   Pinkman     Entrepreneur  1500000
3    Saul   Goodman           Lawyer   500000

In [18]:
df2 = pd.DataFrame([
  {'Job': 'Entrepreneur',    'Pay': 200_000},
  {'Job': 'Law Enforcement', 'Pay': 75_000},
  {'Job': 'Lawyer',          'Pay': 150_000},
  {'Job': 'Teacher',         'Pay': 50_000},
])
df2

               Job     Pay
0     Entrepreneur  200000
1  Law Enforcement   75000
2           Lawyer  150000
3          Teacher   50000

In [19]:
# You can control the column names with suffixing
df1.join(df2.set_index('Job'), on=['Job'], lsuffix='_Current', rsuffix='_Typical')

     Name   Surname              Job  Pay_Current  Pay_Typical
0  Walter     White     Entrepreneur      1500000       200000
1    Hank  Schrader  Law Enforcement       100000        75000
2   Jesse   Pinkman     Entrepreneur      1500000       200000
3    Saul   Goodman           Lawyer       500000       150000