# Assignment
* Read the file worldcities.csv
* Produce summary Information
    * How many cities are there?
    * How many countries are there?
* Produce summary statistics by country
    * Count of cities in each country
    * Min population by country
    * Max population by country
* Extra: There are three cities that have an incorrect population (Can you find them?)

In [1]:
# Import Packages
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('worldcities.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26569 entries, 0 to 26568
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        26569 non-null  object
 1   city_ascii  26569 non-null  object
 2   lat         26569 non-null  float64
 3   lng         26569 non-null  float64
 4   country     26569 non-null  object
 5   iso2        26538 non-null  object
 6   iso3        26569 non-null  object
 7   admin_name  26493 non-null  object
 8   capital     7626 non-null   object
 9   population  25596 non-null  float64
 10  id          26569 non-null  int64
dtypes: float64(3), int64(1), object(7)
memory usage: 2.2+ MB

### How many cities are there?

In [4]:
len(df['city'])

26569

### How many countries are there?

In [6]:
len(df.groupby('country'))

224

### Count of cities in each Country

In [8]:
# Group by country & count the groups
df.groupby('country').size()

country
Afghanistan          44
Albania              50
Algeria              62
American Samoa        1
Andorra               7
                     ..
Wallis And Futuna     1
West Bank             1
Yemen                42
Zambia               35
Zimbabwe             26
Length: 224, dtype: int64

In [9]:
# Group by country and count the non null items
df.groupby('country').count()

,city,city_ascii,lat,lng,iso2,iso3,admin_name,capital,population,id
country,,,,,,,,,,
Afghanistan,44,44,44,44,44,44,44,41,39,44
Albania,50,50,50,50,50,50,50,12,50,50
Algeria,62,62,62,62,62,62,62,48,57,62
American Samoa,1,1,1,1,1,1,0,1,1,1
Andorra,7,7,7,7,7,7,7,7,1,7
...,...,...,...,...,...,...,...,...,...,...
Wallis And Futuna,1,1,1,1,1,1,1,1,0,1
West Bank,1,1,1,1,1,1,0,1,0,1
Yemen,42,42,42,42,42,42,42,40,39,42
Zambia,35,35,35,35,35,35,35,10,35,35
Zimbabwe,26,26,26,26,26,26,26,10,25,26

### Min population by country

In [25]:
df.groupby('country')['population'].min()

country
Afghanistan           4938.0
Albania               3607.0
Algeria                216.0
American Samoa       12576.0
Andorra              22151.0
                      ...
Wallis And Futuna        NaN
West Bank                NaN
Yemen                  189.0
Zambia                1336.0
Zimbabwe              2148.0
Name: population, Length: 224, dtype: float64

### Min population by country

In [26]:
df.groupby('country')['population'].max()

country
Afghanistan          3678034.0
Albania               418495.0
Algeria              3415811.0
American Samoa         12576.0
Andorra                22151.0
                       ...
Wallis And Futuna          NaN
West Bank                  NaN
Yemen                2957000.0
Zambia               1742979.0
Zimbabwe             1606000.0
Name: population, Length: 224, dtype: float64

### Extra: There are three cities that have an incorrect population (Can you find them?)

In [30]:
# Three cities have fractional populations
inc_df = df.copy()
inc_df['population'] = inc_df['population'].fillna(0)
inc_df['correct_population'] = inc_df['population'] - inc_df['population'].astype(int)
inc_df.sort_values('correct_population')
inc_df[inc_df['correct_population'] > 0][['city', 'country', 'population', 'correct_population']]

             city    country  population  correct_population
8436        Tecax     Mexico      50.789               0.789
9447      Kobarid   Slovenia       4.472               0.472
26062  RÃ­o Cuarto  Argentina     158.298               0.298