# Lesson 2
* In this lesson we deepen our working knowledge reviewing a number of fundamental operations including:
    * Creating Series and DataFrames
    * Using the bracket operator on a DataFrame
    * Using and chaining accessor methods
    * Using logical accessors with boolean arrays
# Setup

In [1]:
import numpy as np
import pandas as pd

# Constructors
* Pandas Series and DataFrames have a wide variety of contructors
### Creating Series

In [2]:
# Series from list - a ranged index is created
ser = pd.Series([1, 2, 3, 4, 5])
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
# Series from list - set your own index
ser = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
# Series from dict
ser = pd.Series({'a':1, 'b':2, 'c':3, 'd':4, 'e':5})
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
# Accessing item (notice dictionary semantics) - Pne item returns a scalar
ser['a']

1

In [6]:
# Accessing multiple items - Returning a series
ser[['a', 'b']]

a    1
b    2
dtype: int64

In [9]:
# Naming a Series
ser = pd.Series([1, 2, 3, 4, 5], name='Sample')
ser

0    1
1    2
2    3
3    4
4    5
Name: Sample, dtype: int64

### Creating DataFrames

In [11]:
# It can be handy to construct an empty DataFrame
df = pd.DataFrame(columns=['a', 'b', 'c'])
df

Empty DataFrame
Columns: [a, b, c]
Index: []

In [12]:
# DataFrames are collection of series
ser_a = pd.Series([1, 2, 3], name='a')
ser_b = pd.Series([4, 5, 6], name='b')
ser_c = pd.Series([7, 8, 9], name='c')
df = pd.DataFrame([ser_a, ser_b, ser_c])
df

   0  1  2
a  1  2  3
b  4  5  6
c  7  8  9

In [14]:
# DataFrames can be constructed from a Dictionary of Lists
df = pd.DataFrame({'a':[1, 2, 3], 'b':[4, 5, 6], 'c':[7, 8, 9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [17]:
# DataFrames can be constructed from a List of Dictionaries
df = pd.DataFrame([
    {'a':1, 'b':4, 'c':7 },
    {'a':2, 'b':5, 'c':8 },
    {'a':3, 'b':6, 'c':9 }
])
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [19]:
# DataFrames can also be constructed from a List of Lists
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
df = pd.DataFrame(list_of_lists, columns=['a', 'b', 'c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9